{
  "extends": "react-app",
  "plugins": ["prettier"],
  "env": {
    "jest": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-return-await": "error",
    "no-await-in-loop": "error"
  }
}
